p {

    color: rgb(134, 3, 10);
    text-align: center;
}

h1{ #introduction 
text-align: center;
color: rgb(134, 3, 10);
border: 2px blue;
}

.ID {

}
nav{
background-color: antiquewhite;

nav img{
    width: fit-content;
}
}